<div class="activity_line section">
    <div class="container">
        <div class="activity_line__content">
            <h1 class="activity_line__title">Спутниковые разработки</h1>
            <div class="activity_line__row">
                <div class="activity_line__left">
                    <div class="activity_line__img">
                        <img src="./img/activity/1.jpg" alt="">
                    </div>
                </div>
                <div class="activity_line__right">
                    <div class="activity_line__line"></div>
                    <div class="activity_line__list_title">Разработка и производство программно-аппаратных средств в сфере
                        космической деятельности:
                    </div>
                    <ul class="activity_line__list">
                        <li>Хранение и обработка параметров спутников-ретрансляторов в сфере геолокации</li>
                        <li>Разработка сиплексного широкополосного канала связи с поддержкой технологии CDMA на
                            современной SDR-платформе
                        </li>
                        <li>Приложение для генерирования сигналов в цифровом виде для имитации радиоэлектронный
                            обстановки
                        </li>
                        <li>Исследование алгоритмов управления в самоорганизующихся группах роботов (беспилотных
                            летательных аппаратов, беспилотных станций, группировок наностутников) для выполнения
                            детерминированных задач
                        </li>
                    </ul>
                </div>
            </div>
            <a href="#" class="activity_line__btn btn this--transparent_blue">назад ко всем направлениям деятельности</a>
        </div>
    </div>
</div>