<div class="products section this--bottom">
    <div class="container">
        <div class="products__content">
            <div class="products__items">
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Корпоративный мессенджер PostLink</h2>
                        <div class="product__line"></div>
                        <div class="product__text">Мессенджер позволяет обмениваться информацией по защищенным каналам
                            связи, для организации которых использовано постоянное сквозное шифрование, что обеспечивает
                            надежную защиту передаваемой информации. При этом реализована возможность развертывания
                            серверного ПО на оборудовании заказчика.
                        </div>
                        <div class="product__list_title">Возможности</div>
                        <ul class="product__list">
                            <li>Защищенный обмен данными
                            </li>
                            <li>Мгновенные сообщения, групповые чаты
                            </li>
                            <li>Обмен файлами
                            </li>
                            <li>Аудио- и видеозвонки
                            </li>
                            <li>PUSH-уведомления
                            </li>
                            <li>Хранение переписки в зашифрованном виде на сервере
                            </li>
                            <li>Интеграция с информационными системами предприятия (СЭД, CRM, ERP)</li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Орлан-10</h2>
                        <div class="product__line"></div>
                        <div class="product__text">Многофункциональный беспилотный комплекс, предназначенный для ведения
                            наблюдения за протяжёнными и локальными объектами в труднодоступной местности, в том числе
                            при проведении поисковых и ремонтных работ.
                        </div>
                        <div class="product__list_title">Возможности комплекса</div>
                        <ul class="product__list">
                            <li>Оперативная замена полезной нагрузки и состава бортового оборудования
                            </li>
                            <li>Обеспечение видео- и фотосъемки в сочетании с регистрацией текущих параметров (координаты, высота, номер кадра)
                            </li>
                            <li>Использование в сложных метеоусловиях и с ограниченных площадок
                            </li>
                            <li>Размещение контрольно-измерительной аппаратуры внутри консолей крыла
                            </li>
                            <li>Наличие бортового генератора позволяет использовать активные нагрузки в течение всего полета
                            </li>
                            <li>Использование одного БПЛА в качестве ретранслятора для остальных
                            </li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Барс МПИ-3 стационарный</h2>
                        <div class="product__line"></div>
                        <div class="product__list_title">Состав</div>
                        <ul class="product__list">
                            <li>Антенно-фидерное устройство в диапазоне 20–3000 МГц на базе измерительной антенны П6-11М
                            </li>
                            <li>Двухлитерное антенно-фидерное коммутационное устройство в диапазоне 20–3000 МГц с установкой на мачте 9 м
                            </li>
                            <li>Одноканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Двухканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Восьмиканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>ЭВМ обработки и управления
                            </li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Станция борьбы с радиоуправляемыми авиационными моделями</h2>
                        <div class="product__line"></div>
                        <div class="product__list_title">Состав</div>
                        <ul class="product__list">
                            <li>Антенно-фидерная система
                            </li>
                            <li>Опорно-поворотное устройство (опция)
                            </li>
                            <li>Блок обнаружения и идентификации (базовый вариант изготовления) или радиопеленгатор (вариант изготовления -01)
                            </li>
                            <li>Пассивный радиолокатор (опционально)
                            </li>
                            <li>Блок формирования помех
                            </li>
                            <li>Комплект соединительных кабелей
                            </li>
                            <li>Аккумуляторная батарея</li>
                            <li>Комплект защищенных кейсов</li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Барс МПИ-3 мобильный</h2>
                        <div class="product__line"></div>
                        <div class="product__list_title">Состав</div>
                        <ul class="product__list">
                            <li>Антенно-фидерное устройство в диапазоне 20–3000 МГц на базе измерительной антенны П6-11М
                            </li>
                            <li>Двухлитерное антенно-фидерное коммутационное устройство в диапазоне 20–3000 МГц с установкой на мачте 9 м
                            </li>
                            <li>Одноканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Двухканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Восьмиканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>ЭВМ обработки и управления
                            </li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Барс Р</h2>
                        <div class="product__line"></div>
                        <div class="product__list_title">Состав</div>
                        <ul class="product__list">
                            <li>Антенно-фидерная система
                            </li>
                            <li>Опорно-поворотное устройство (опция)
                            </li>
                            <li>Блок обнаружения и идентификации (базовый вариант изготовления) или радиопеленгатор (вариант изготовления -01)
                            </li>
                            <li>Пассивный радиолокатор (опционально)
                            </li>
                            <li>Блок формирования помех
                            </li>
                            <li>Комплект соединительных кабелей
                            </li>
                            <li>Аккумуляторная батарея</li>
                            <li>Комплект защищенных кейсов</li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="products__item product">
                    <div class="product__left">
                        <h2 class="product__title">Персональный комплекс борьбы с дронами</h2>
                        <div class="product__line"></div>
                        <div class="product__list_title">Состав</div>
                        <ul class="product__list">
                            <li>Антенно-фидерное устройство в диапазоне 20–3000 МГц на базе измерительной антенны П6-11М
                            </li>
                            <li>Двухлитерное антенно-фидерное коммутационное устройство в диапазоне 20–3000 МГц с установкой на мачте 9 м
                            </li>
                            <li>Одноканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Двухканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>Восьмиканальное аналого-цифровое радиоприемное устройство в диапазоне 20–3000 МГц
                            </li>
                            <li>ЭВМ обработки и управления
                            </li>
                        </ul>
                    </div>
                    <div class="product__right">
                        <div class="product_big_slider swiper-container">
                            <div class="product_big_slider__wrapper swiper-wrapper">
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/big1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_big_slider__slide swiper-slide">
                                    <div class="product_big_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="product_nav_slider swiper-container">
                            <div class="product_nav_slider__wrapper swiper-wrapper">
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav2.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav3.jpg" alt="">
                                    </div>
                                </div>
                                <div class="product_nav_slider__slide swiper-slide">
                                    <div class="product_nav_slider__slide_img">
                                        <img src="./img/product/product_sliders/nav4.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>