<div class="main_vacancies section">
    <div class="container">
        <div class="main_vacancies__content">
            <h2 class="g_title_h1 main_vacancies__title">Кого мы ищем</h2>
            <div class="main_vacancies__row">
                <div class="main_vacancies__left">
                    <div class="main_vacancies__item">
                        <div class="main_vacancies__item_img">
                            <img src="./img/main/main_vacancies/1.svg" alt="">
                        </div>
                        <div class="main_vacancies__item_info">
                            <div class="main_vacancies__item_title">Начинающих специалистов</div>
                            <div class="main_vacancies__item_text">Современные технологии достигли такого уровня,
                                что семантический разбор внешних противодействий
                            </div>
                        </div>
                    </div>
                    <div class="main_vacancies__item">
                        <div class="main_vacancies__item_img">
                            <img src="./img/main/main_vacancies/2.svg" alt="">
                        </div>
                        <div class="main_vacancies__item_info">
                            <div class="main_vacancies__item_title">Опытных специалистов</div>
                            <div class="main_vacancies__item_text">Современные технологии достигли такого уровня, что
                                семантический разбор внешних противодействий
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_vacancies__right">
                    <div class="main_vacancies__text">
                        <p><span>Мы приглашаем</span> в нашу команду специалистов, желающих раскрыть свой потенциал,
                            выполнять
                            амбициозные задачи, создавать уникальные продукты!</p>
                        <p><span>Для квалифицированных специалистов</span> мы предоставляем свободу в принятии решений и
                            предлагаем
                            свободный выбор инструментов для реализации продуктов.</p>
                        <p><span>У нас есть интересные задачи для стажеров и сеньоров!</span></p>
                    </div>
                    <a href="#" class="main_vacancies__btn btn">смотреть все вакансии</a>
                </div>
            </div>
        </div>
    </div>
</div>