<div class="main_team section">
    <div class="container">
        <div class="main_team__content">
            <h2 class="g_title_h1 main_team__title">Наша команда</h2>
            <div class="main_team__row">
                <div class="main_team__left">
                    <div class="main_team__img">
                        <img src="./img/main/main_team/main_team_img.jpg" alt="">
                    </div>
                </div>
                <div class="main_team__right">
                    <div class="main_team__text">
                        <p>Сотрудники Специального Технологического Центра — это специалисты с уникальными компетенциями в области разработки и производства средств и комплексов радиоконтроля, беспилотных летательных аппаратов, мобильных приложений, информационной безопасности.</p>
                        <p><strong>Общая численность сотрудников</strong> более 2700 человек.<br> <strong>Среди которых:</strong> 10 докторов наук и более 100 кандидатов наук, 5 заслуженных изобретателей и 1 заслуженный деятель науки Российской Федерации.</p>
                    </div>
                    <a href="#" class="btn main_team__btn">Подробнее</a>
                </div>
            </div>
            <div class="main_team__slider_wr default_slider__wr">
                <div class="main_team__slider_btn_prev default_slider__btn_prev"></div>
                <div class="main_team__slider_btn_next default_slider__btn_next"></div>
                <div class="main_team__slider_pagination default_slider__pagination"></div>
                <div class="main_team__slider default_slider swiper-container">
                    <div class="default_slider__wrapper swiper-wrapper">
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img ">
                                <img src="./img/main/main_team/main_team_slider_img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img">
                                <img src="./img/main/main_team/main_team_slider_img_2.jpg" alt="">
                            </div>
                        </div>
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img">
                                <img src="./img/main/main_team/main_team_slider_img_3.jpg" alt="">
                            </div>
                        </div>
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img">
                                <img src="./img/main/main_team/main_team_slider_img_4.jpg" alt="">
                            </div>
                        </div>
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img">
                                <img src="./img/main/main_team/main_team_slider_img_1.jpg" alt="">
                            </div>
                        </div>
                        <div class="default_slider__slide swiper-slide">
                            <div class="default_slider__slide_img">
                                <img src="./img/main/main_team/main_team_slider_img_2.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>