<div class="main_news section">
    <div class="container">
        <div class="main_news__content">
            <h2 class="g_title_h1">Новости</h2>
            <div class="main_news__items">
                <a href="#" class="main_news__item this--big js_main_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Эксперты «СТЦ» разработали систему, которая умеет
                            распознавать людей, транспорт, вездеходную технику, снегоходы, квадроциклы, а также северных
                            оленей
                        </div>
                        <div class="main_news__item_subtitle">Специальный Технологический Центр — ООО «СТЦ».
                            Занимаемся разработкой программного обеспечения и аппаратных средств более 20 лет.
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_main_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Экскурсия студентов Санкт-Петербургских государственных
                            университетов ГУАП и ИТМО по производственной площадке ООО «СТЦ» «Ручьи»
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/2.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_main_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">В 2021 году мы разработали свою собственную спутниковую
                            платформу формата CubeSAT
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/3.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_main_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Эксперты «СТЦ» разработали систему, которая умеет
                            распознавать
                            людей, транспорт, вездеходную технику, снегоходы, квадроциклы, а также северных оленей
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/4.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <div class="main_news__mob_slider_wr">
                <div class="main_news__mob_slider_pagination"></div>
                <div class="main_news__mob_slider swiper-container">
                    <div class="main_news__mob_slider_wrapper swiper-wrapper">

                    </div>
                </div>
            </div>

            <a href="#" class="btn main_news__btn">смотреть все новости</a>
        </div>
    </div>
</div>