<div class="patents_bottom section">
    <div class="container">
        <div class="patents_bottom__content">
            <div class="patents_bottom__patents_cards patents_cards">
                <h2 class="patents_cards__title">Патенты</h2>
                <div class="patents_cards__slider_wr default_slider__wr this--light this--cards">
                    <div class="patents_cards__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="patents_cards__slider_btn_next default_slider__btn_next"></div>
                    <div class="patents_cards__slider_pagination default_slider__pagination"></div>
                    <div class="patents_cards__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ и устройство определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ пеленгации радиосигналов и пеленгатор для его осуществления</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="patents_bottom__certificate_cards certificate_cards section this--top">
                <h2 class="certificate_cards__title">Свидетельства и сертификаты</h2>
                <div class="certificate_cards__slider_wr default_slider__wr this--light this--cards">
                    <div class="certificate_cards__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="certificate_cards__slider_btn_next default_slider__btn_next"></div>
                    <div class="certificate_cards__slider_pagination default_slider__pagination"></div>
                    <div class="certificate_cards__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/2.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Сертификат соответствия ГОСТам менеджмента качества на разработку, производство, испытание, установку, монтаж, техническое обслуживание, ремонт и реализацию продукции</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/3.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Свидетельство о государственной регистрации ООО «Специальный Технологический Центр»</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/4.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Свидетельство о внесении записи в Единый государственный реестр юридических лиц</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Свидетельство о постановке на учет юридического лица в налоговом органе</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="patents_bottom__diploms_cards diploms_cards section this--top">
                <h2 class="diploms_cards__title">Дипломы</h2>
                <div class="diploms_cards__slider_wr default_slider__wr this--light this--cards">
                    <div class="diploms_cards__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="diploms_cards__slider_btn_next default_slider__btn_next"></div>
                    <div class="diploms_cards__slider_pagination default_slider__pagination"></div>
                    <div class="diploms_cards__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/5.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Специальный приз Украинской Академии Наук</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Золотая медаль на международном салоне Новый Час «Способ пеленгации радиосигналов и пеленгатор для его осуществления»</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Золотая медаль на международном салоне Новый Час «Способ и устройство определения координат радиоизлучения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
