<div class="patents_bottom section">
    <div class="container">
        <div class="patents_bottom__content">
            <div class="patents_bottom__patents_cards patents_cards">
                <h2 class="patents_cards__title">Патенты</h2>
                <div class="patents_cards__slider_wr default_slider__wr this--light this--cards">
                    <div class="patents_cards__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="patents_cards__slider_btn_next default_slider__btn_next"></div>
                    <div class="patents_cards__slider_pagination default_slider__pagination"></div>
                    <div class="patents_cards__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ и устройство определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ пеленгации радиосигналов и пеленгатор для его осуществления</div>
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="card">
                                    <div class="card__img">
                                        <img src="/img/patents/patents_cards/1.jpg" alt="">
                                    </div>
                                    <div class="card__line"></div>
                                    <div class="card__text">Способ определения координат источника радиоизлучения</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
