<div class="main_slider">
    <div class="container">
        <div class="main_slider__content">
            <div class="main_slider__btn_prev"></div>
            <div class="main_slider__btn_next"></div>
            <div class="main_slider__pagination"></div>
            <div class="main_slider__slider swiper-container">
                <div class="main_slider__slider_wrapper swiper-wrapper">
                    <div class="main_slider__slider_slide swiper-slide">
                        <div class="main_slider__slide_video">
                            <video src="./video/main_slider_video.mp4" loop muted autoplay></video>
                        </div>
                    </div>
                    <div class="main_slider__slider_slide swiper-slide">
                        <div class="main_slider__slide_container">
                            <h1 class="main_slider__title">ООО «СТЦ» 20 лет на рынке информационных технологий</h1>
                            <ul class="main_slider__list">
                                <li>Разработка сложных радиокомплексов, БЛА и иного оборудования специального назначения</li>
                                <li>Противодействие актуальным киберугрозам</li>
                                <li>Анализ защищенности распределенных информационных систем и программного обеспечения</li>
                                <li>Разработка современных антивирусных решений и средств защиты информации</li>
                            </ul>
                            <div class="main_slider__btn btn">Перейти</div>
                        </div>
                    </div>
                    <div class="main_slider__slider_slide swiper-slide">
                        <div class="main_slider__slide_container">
                            <h1 class="main_slider__title">ООО «СТЦ» 20 лет на рынке информационных технологий</h1>
                            <ul class="main_slider__list">
                                <li>Разработка сложных радиокомплексов, БЛА и иного оборудования специального назначения</li>
                                <li>Противодействие актуальным киберугрозам</li>
                                <li>Анализ защищенности распределенных информационных систем и программного обеспечения</li>
                                <li>Разработка современных антивирусных решений и средств защиты информации</li>
                            </ul>
                            <div class="main_slider__btn btn">Перейти</div>
                        </div>
                    </div>
                    <div class="main_slider__slider_slide swiper-slide">
                        <div class="main_slider__slide_container">
                            <h1 class="main_slider__title">ООО «СТЦ» 20 лет на рынке информационных технологий</h1>
                            <ul class="main_slider__list">
                                <li>Разработка сложных радиокомплексов, БЛА и иного оборудования специального назначения</li>
                                <li>Противодействие актуальным киберугрозам</li>
                                <li>Анализ защищенности распределенных информационных систем и программного обеспечения</li>
                                <li>Разработка современных антивирусных решений и средств защиты информации</li>
                            </ul>
                            <div class="main_slider__btn btn">Перейти</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>