.counts {
  background: url('../img/all/counts/counts_bg.jpg') center / cover no-repeat;
}
.counts_block {
  &.main_about__counts {
    margin-bottom: -32px;
  }
  &.this--flex {
    display: flex;
    margin-left: -60px;

    @media (max-width: 1300px) {
      flex-wrap: wrap;
      margin-bottom: -30px;
    }
    @media ($tablet3) {
      margin-left: -20px;
    }
  }
}
.counts_block__count {

  .counts_block.main_about__counts & {
    margin-bottom: 32px;
  }
  .counts_block.this--flex & {
    margin-left: 60px;
    @media (max-width: 1300px) {
      width: calc(33.333% - 60px);
      margin-bottom: 30px;
    }
    @media ($tablet3) {
      margin-left: 20px;
      width: calc(50% - 20px);
    }
  }

  &:hover {
    @media ($tablet2Max) {
      .counts_block__count_title {
        transform: translateX(10px);
      }
    }
  }
}
.counts_block__count_title {
  color: #FFA113;
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  transition: 0.25s;
  white-space: nowrap;
  @media ($tablet3) {
    font-size: 2.4rem;
  }
}
.counts_block__count_subtitle {
  margin-top: 7px;
  color: #ffffff;

  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.71;
    margin-top: 3px;
  }
}