<div class="counts section">
    <div class="container">
        <div class="counts_block this--flex">
            <div class="counts_block__count">
                <div class="counts_block__count_title">2 700</div>
                <div class="counts_block__count_subtitle">высококлассных специалистов</div>
            </div>
            <div class="counts_block__count">
                <div class="counts_block__count_title">Более 300</div>
                <div class="counts_block__count_subtitle">крупных проектов ежегодно</div>
            </div>
            <div class="counts_block__count">
                <div class="counts_block__count_title">163</div>
                <div class="counts_block__count_subtitle">изобретения создано</div>
            </div>
            <div class="counts_block__count">
                <div class="counts_block__count_title">112</div>
                <div class="counts_block__count_subtitle">патентов получено за время
                    работы предприятия
                </div>
            </div>
            <div class="counts_block__count">
                <div class="counts_block__count_title">55 000 м</div>
                <div class="counts_block__count_subtitle">производственная база</div>
            </div>
            <div class="counts_block__count">
                <div class="counts_block__count_title">25 Га</div>
                <div class="counts_block__count_subtitle">общая площадь испытательных
                    полигонов
                </div>
            </div>
        </div>
    </div>
</div>