<div class="type section this--bottom">
    <div class="container">
        <div class="type__content">
            <div class="type__content_small">
                <div class="type__text this--mt_60 this--mb_60">Современные технологии достигли такого уровня, что
                    семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия. Современные технологии достигли такого уровня, что семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия.
                </div>
                <h2>Заголовок страницы H2</h2>
                <div class="type__text this--mt_20 this--mb_60">Современные технологии достигли такого уровня, что
                    семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия. Современные технологии достигли такого уровня, что семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия.
                </div>
                <h2>Заголовок страницы H2</h2>
                <h3 class="this--mt_20">Заголовок страницы H3</h3>
                <div class="type__text this--mt_20">Современные технологии достигли такого уровня, что семантический
                    разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия. Современные технологии достигли такого уровня, что семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия.
                </div>
                <div class="type_slider__slider_wr default_slider__wr this--light">
                    <div class="type_slider__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="type_slider__slider_btn_next default_slider__btn_next"></div>
                    <div class="type_slider__slider_pagination default_slider__pagination"></div>
                    <div class="type_slider__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img this--no_scale">
                                    <img src="/img/type/type_slider/1.jpg" alt="">
                                </div>
                                <div class="default_slider__slide_text">Краткое описание фотографии в нескольких
                                    словах
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img this--no_scale">
                                    <img src="/img/type/type_slider/1.jpg" alt="">
                                </div>
                                <div class="default_slider__slide_text">Краткое описание фотографии в нескольких
                                    словах
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img this--no_scale">
                                    <img src="/img/type/type_slider/1.jpg" alt="">
                                </div>
                                <div class="default_slider__slide_text">Краткое описание фотографии в нескольких
                                    словах
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="this--mt_60">Заголовок страницы H3</h3>
                <div class="type__text this--mt_20 this--mb_60">Современные технологии достигли такого уровня, что
                    семантический
                    разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия. Современные технологии достигли такого уровня, что семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия.
                </div>
            </div>
            <div class="type__price_services price_services">
                <h2>Цены на услуги за ноябрь 2021 года</h2>
                <div class="price_services__table price_table">
                    <div class="price_table__labels">
                        <div class="price_table__label this--310">Наименование</div>
                        <div class="price_table__label this--83"><span class="this--no_wrap">Цена, ₽</span></div>
                        <div class="price_table__label this--220">Описание</div>
                        <div class="price_table__label this--260">Дополнительно</div>
                        <div class="price_table__label this--226">Информация</div>
                    </div>
                    <div class="price_table__values">
                        <div class="price_table__value_wr this--310">
                            <div class="price_table__mob_label">Наименование</div>
                            <div class="price_table__value">Современные технологии</div>
                        </div>
                        <div class="price_table__value_wr this--83">
                            <div class="price_table__mob_label">Цена, ₽</div>
                            <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                        </div>
                        <div class="price_table__value_wr this--220">
                            <div class="price_table__mob_label">Описание</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                        <div class="price_table__value_wr this--260">
                            <div class="price_table__mob_label">Дополнительно</div>
                            <div class="price_table__value">Семантический разбор</div>
                        </div>
                        <div class="price_table__value_wr this--226">
                            <div class="price_table__mob_label">Информация</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                    </div>
                    <div class="price_table__values this--light_blue">
                        <div class="price_table__value_wr this--310">
                            <div class="price_table__mob_label">Наименование</div>
                            <div class="price_table__value">Внедрения и модернизации форм воздействия</div>
                        </div>
                        <div class="price_table__value_wr this--83">
                            <div class="price_table__mob_label">Цена, ₽</div>
                            <div class="price_table__value"><span class="this--no_wrap">5 000</span></div>
                        </div>
                        <div class="price_table__value_wr this--220">
                            <div class="price_table__mob_label">Описание</div>
                            <div class="price_table__value">Инновационный путь</div>
                        </div>
                        <div class="price_table__value_wr this--260">
                            <div class="price_table__mob_label">Дополнительно</div>
                            <div class="price_table__value">Форма воздействия</div>
                        </div>
                        <div class="price_table__value_wr this--226">
                            <div class="price_table__mob_label">Информация</div>
                            <div class="price_table__value">Семантический разбор</div>
                        </div>
                    </div>
                    <div class="price_table__values">
                        <div class="price_table__value_wr this--310">
                            <div class="price_table__mob_label">Наименование</div>
                            <div class="price_table__value">Современные технологии</div>
                        </div>
                        <div class="price_table__value_wr this--83">
                            <div class="price_table__mob_label">Цена, ₽</div>
                            <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                        </div>
                        <div class="price_table__value_wr this--220">
                            <div class="price_table__mob_label">Описание</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                        <div class="price_table__value_wr this--260">
                            <div class="price_table__mob_label">Дополнительно</div>
                            <div class="price_table__value">Семантический разбор</div>
                        </div>
                        <div class="price_table__value_wr this--226">
                            <div class="price_table__mob_label">Информация</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                    </div>
                    <div class="price_table__values this--light_blue">
                        <div class="price_table__value_wr this--310">
                            <div class="price_table__mob_label">Наименование</div>
                            <div class="price_table__value">Внедрения и модернизации форм воздействия</div>
                        </div>
                        <div class="price_table__value_wr this--83">
                            <div class="price_table__mob_label">Цена, ₽</div>
                            <div class="price_table__value"><span class="this--no_wrap">5 000</span></div>
                        </div>
                        <div class="price_table__value_wr this--220">
                            <div class="price_table__mob_label">Описание</div>
                            <div class="price_table__value">Инновационный путь</div>
                        </div>
                        <div class="price_table__value_wr this--260">
                            <div class="price_table__mob_label">Дополнительно</div>
                            <div class="price_table__value">Форма воздействия</div>
                        </div>
                        <div class="price_table__value_wr this--226">
                            <div class="price_table__mob_label">Информация</div>
                            <div class="price_table__value">Семантический разбор</div>
                        </div>
                    </div>
                    <div class="price_table__values">
                        <div class="price_table__value_wr this--310">
                            <div class="price_table__mob_label">Наименование</div>
                            <div class="price_table__value">Современные технологии</div>
                        </div>
                        <div class="price_table__value_wr this--83">
                            <div class="price_table__mob_label">Цена, ₽</div>
                            <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                        </div>
                        <div class="price_table__value_wr this--220">
                            <div class="price_table__mob_label">Описание</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                        <div class="price_table__value_wr this--260">
                            <div class="price_table__mob_label">Дополнительно</div>
                            <div class="price_table__value">Семантический разбор</div>
                        </div>
                        <div class="price_table__value_wr this--226">
                            <div class="price_table__mob_label">Информация</div>
                            <div class="price_table__value">Процесс внедрения</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="type__content_small">
                <div class="type__price_product price_product">
                    <h2>Стоимость товаров</h2>
                    <div class="price_product__table price_table">
                        <div class="price_table__labels">
                            <div class="price_table__label this--366">Наименование</div>
                            <div class="price_table__label this--83"><span class="this--no_wrap">Цена, ₽</span></div>
                            <div class="price_table__label this--263">Описание</div>
                        </div>
                        <div class="price_table__values">
                            <div class="price_table__value_wr this--366">
                                <div class="price_table__mob_label">Наименование</div>
                                <div class="price_table__value">Современные технологии</div>
                            </div>
                            <div class="price_table__value_wr this--83">
                                <div class="price_table__mob_label">Цена, ₽</div>
                                <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                            </div>
                            <div class="price_table__value_wr this--263">
                                <div class="price_table__mob_label">Описание</div>
                                <div class="price_table__value">Процесс внедрения</div>
                            </div>
                        </div>
                        <div class="price_table__values this--light_blue">
                            <div class="price_table__value_wr this--366">
                                <div class="price_table__mob_label">Наименование</div>
                                <div class="price_table__value">Внедрения и модернизации форм воздействия</div>
                            </div>
                            <div class="price_table__value_wr this--83">
                                <div class="price_table__mob_label">Цена, ₽</div>
                                <div class="price_table__value"><span class="this--no_wrap">5 000</span></div>
                            </div>
                            <div class="price_table__value_wr this--263">
                                <div class="price_table__mob_label">Описание</div>
                                <div class="price_table__value">Инновационный путь</div>
                            </div>
                        </div>
                        <div class="price_table__values">
                            <div class="price_table__value_wr this--366">
                                <div class="price_table__mob_label">Наименование</div>
                                <div class="price_table__value">Современные технологии</div>
                            </div>
                            <div class="price_table__value_wr this--83">
                                <div class="price_table__mob_label">Цена, ₽</div>
                                <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                            </div>
                            <div class="price_table__value_wr this--263">
                                <div class="price_table__mob_label">Описание</div>
                                <div class="price_table__value">Процесс внедрения</div>
                            </div>
                        </div>
                        <div class="price_table__values this--light_blue">
                            <div class="price_table__value_wr this--366">
                                <div class="price_table__mob_label">Наименование</div>
                                <div class="price_table__value">Внедрения и модернизации форм воздействия</div>
                            </div>
                            <div class="price_table__value_wr this--83">
                                <div class="price_table__mob_label">Цена, ₽</div>
                                <div class="price_table__value"><span class="this--no_wrap">5 000</span></div>
                            </div>
                            <div class="price_table__value_wr this--263">
                                <div class="price_table__mob_label">Описание</div>
                                <div class="price_table__value">Инновационный путь</div>
                            </div>
                        </div>
                        <div class="price_table__values">
                            <div class="price_table__value_wr this--366">
                                <div class="price_table__mob_label">Наименование</div>
                                <div class="price_table__value">Современные технологии</div>
                            </div>
                            <div class="price_table__value_wr this--83">
                                <div class="price_table__mob_label">Цена, ₽</div>
                                <div class="price_table__value"><span class="this--no_wrap">10 000</span></div>
                            </div>
                            <div class="price_table__value_wr this--263">
                                <div class="price_table__mob_label">Описание</div>
                                <div class="price_table__value">Процесс внедрения</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type__review">
                    <div class="type__review_img">
                        <img src="./img/new/author.jpg" alt="">
                    </div>
                    <div class="type__review_right">
                        <div class="type__review_text">«Базовый вектор развития, в своём классическом представлении,
                            допускает внедрение новых предложений. С другой стороны, понимание сути ресурсосберегающих
                            технологий, а также свежий взгляд на привычные вещи — безусловно открывает новые горизонты
                            для форм воздействия. Учитывая ключевые сценарии поведения, постоянное
                            информационно-пропагандистское обеспечение нашей деятельности обеспечивает актуальность
                            приоритизации разума над эмоциями».
                        </div>
                        <div class="type__review_row">
                            <div class="type__review_quote">
                                <svg width="40" height="33" viewBox="0 0 40 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M34.7221 0.743225H28.8332C26.1263 0.743225 23.9258 2.95311 23.9258 5.66721V11.576C23.9258 14.2901 26.1263 16.5 28.8332 16.5H34.7221C35.0577 16.5 35.3856 16.4645 35.7036 16.3995V20.4392C35.7036 24.7841 32.182 28.3175 27.8517 28.3175H25.8887C24.8032 28.3175 23.9258 29.1999 23.9258 30.2871C23.9258 31.3744 24.8032 32.2567 25.8887 32.2567H27.8517C34.3472 32.2567 39.6295 26.9566 39.6295 20.4392V5.66721C39.6295 2.95311 37.429 0.743225 34.7221 0.743225Z" fill="#FFA113"/>
                                    <path d="M11.1674 0.743225H5.2785C2.57158 0.743225 0.371094 2.95311 0.371094 5.66721V11.576C0.371094 14.2901 2.57158 16.5 5.2785 16.5H11.1674C11.5031 16.5 11.8309 16.4645 12.1489 16.3995V20.4392C12.1489 24.7841 8.62732 28.3175 4.29702 28.3175H2.33406C1.24854 28.3175 0.371094 29.1999 0.371094 30.2871C0.371094 31.3744 1.24854 32.2567 2.33406 32.2567H4.29702C10.7925 32.2567 16.0748 26.9566 16.0748 20.4392V5.66721C16.0748 2.95311 13.8743 0.743225 11.1674 0.743225Z" fill="#FFA113"/>
                                </svg>
                            </div>
                            <div class="type__review_author">
                                <div class="type__review_author_name">Семенов Алексей Владимирович</div>
                                <div class="type__review_author_job">главный редактор</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="type__list_title">ООО «СТЦ» осуществляет разработку и производство: </div>
                <ul class="type__list">
                    <li>Cистем в сфере защиты информации, информационной безопасности, искусственного интеллекта, анализа больших данных</li>
                    <li>Программно-аппаратных средств в сфере космической деятельности</li>
                    <li>Спутниковых комплексов</li>
                    <li>Беспилотных летательных аппаратов и квадрокоптеров</li>
                    <li>Различного телекоммуникационного оборудования, включая комплексы радиоразведки, военной техники наземного, воздушного и морского базирования</li>
                </ul>
                <div class="type__list_title">ООО «СТЦ» осуществляет разработку и производство: </div>
                <ol class="type__list">
                    <li>Cистем в сфере защиты информации, информационной безопасности, искусственного интеллекта, анализа больших данных</li>
                    <li>Программно-аппаратных средств в сфере космической деятельности</li>
                    <li>Спутниковых комплексов</li>
                    <li>Беспилотных летательных аппаратов и квадрокоптеров</li>
                    <li>Различного телекоммуникационного оборудования, включая комплексы радиоразведки, военной техники наземного, воздушного и морского базирования</li>
                </ol>
                <div class="type__links">
                    <a href="#" class="type__link">
                        <div class="type__link_img_text_wr">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0938 0V3.86486C18.0938 4.83351 18.8818 5.62159 19.8505 5.62159H23.7153L18.0938 0Z" fill="#055FB3"/>
                                <path d="M19.8507 7.37841C17.9183 7.37841 16.3372 5.79734 16.3372 3.86491V0H2.2832V22.4865C2.2832 24.4189 3.86428 26 5.79671 26H20.2021C22.1345 26 23.7156 24.4189 23.7156 22.4865V7.37841H19.8507ZM13.5264 18.7973H7.20213V17.0406H13.5264V18.7973ZM18.7967 14.5811H7.20208V12.8243H18.7967V14.5811Z" fill="#055FB3"/>
                            </svg>
                            <span class="type__link_text">Программа обучения</span>
                        </div>
                        <span class="type__link_file">program.pdf</span>
                        <span class="type__link_size">15 Кб</span>
                    </a>
                    <a href="#" class="type__link">
                        <div class="type__link_img_text_wr">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18.0938 0V3.86486C18.0938 4.83351 18.8818 5.62159 19.8505 5.62159H23.7153L18.0938 0Z" fill="#055FB3"/>
                                <path d="M19.8507 7.37841C17.9183 7.37841 16.3372 5.79734 16.3372 3.86491V0H2.2832V22.4865C2.2832 24.4189 3.86428 26 5.79671 26H20.2021C22.1345 26 23.7156 24.4189 23.7156 22.4865V7.37841H19.8507ZM13.5264 18.7973H7.20213V17.0406H13.5264V18.7973ZM18.7967 14.5811H7.20208V12.8243H18.7967V14.5811Z" fill="#055FB3"/>
                            </svg>
                            <span class="type__link_text">Еще одна программа обучения</span>
                        </div>
                        <span class="type__link_file">instruction.pdf</span>
                        <span class="type__link_size">230 Кб</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>