<div class="main_about section">
    <div class="container">
        <div class="main_about__content">
            <div class="main_about__about">
                <h2 class="g_title_h1 main_about__title">О компании</h2>
                <div class="main_about__text">
                    Специальный Технологический Центр — ООО «СТЦ».
                    Занимаемся разработкой программного обеспечения и аппаратных средств более 20 лет. Работаем на
                    российском и международном рынках телекоммуникационного оборудования, оборудования сотовой
                    и спутниковой связи.⠀
                </div>
                <div class="main_about__list_title">Осуществляем разработку и производство:</div>
                <ul class="main_about__list orange_ul">
                    <li>Систем в сфере информационной безопасности</li>
                    <li>Систем сбора и анализа больших данных с применением методов машинного обучения и
                        искусственного интеллекта
                    </li>
                    <li>Телекоммуникационных систем спутниковой связи</li>
                    <li>Беспилотных летательных аппаратов и квадрокоптеров семейства «Орлан», спутниковых комплексов и
                        систем управления ими
                    </li>
                    <li>Телекоммуникационного оборудования, включая комплексы радиомониторинга,
                        различной военной техники наземного, воздушного и морского базирования
                    </li>
                </ul>
                <a href="#" class="btn main_about__btn">Подробнее</a>
            </div>
            <div class="main_about__counts counts_block">
                <div class="counts_block__count">
                    <div class="counts_block__count_title">2 700</div>
                    <div class="counts_block__count_subtitle">высококлассных специалистов</div>
                </div>
                <div class="counts_block__count">
                    <div class="counts_block__count_title">Более 300</div>
                    <div class="counts_block__count_subtitle">крупных проектов ежегодно</div>
                </div>
                <div class="counts_block__count">
                    <div class="counts_block__count_title">163</div>
                    <div class="counts_block__count_subtitle">изобретения создано</div>
                </div>
                <div class="counts_block__count">
                    <div class="counts_block__count_title">112</div>
                    <div class="counts_block__count_subtitle">патентов получено за время
                        работы предприятия
                    </div>
                </div>
                <div class="counts_block__count">
                    <div class="counts_block__count_title">55 000 м</div>
                    <div class="counts_block__count_subtitle">производственная база</div>
                </div>
                <div class="counts_block__count">
                    <div class="counts_block__count_title">25 Га</div>
                    <div class="counts_block__count_subtitle">общая площадь испытательных
                        полигонов
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>