<div class="news section this--bottom">
    <div class="container">
        <div class="news__content">
            <div class="main_news__items this--news_page">
                <a href="#" class="main_news__item this--big js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Эксперты «СТЦ» разработали систему, которая умеет
                            распознавать людей, транспорт, вездеходную технику, снегоходы, квадроциклы, а также северных
                            оленей
                        </div>
                        <div class="main_news__item_subtitle">Специальный Технологический Центр — ООО «СТЦ».
                            Занимаемся разработкой программного обеспечения и аппаратных средств более 20 лет.
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/1.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Экскурсия студентов Санкт-Петербургских государственных
                            университетов ГУАП и ИТМО по производственной площадке ООО «СТЦ» «Ручьи»
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/2.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">В 2021 году мы разработали свою собственную спутниковую
                            платформу формата CubeSAT
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/3.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Эксперты «СТЦ» разработали систему, которая умеет
                            распознавать
                            людей, транспорт, вездеходную технику, снегоходы, квадроциклы, а также северных оленей
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/4.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">В 2021 году мы разработали свою собственную спутниковую
                            платформу формата CubeSAT
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/3.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">Эксперты «СТЦ» разработали систему, которая умеет
                            распознавать
                            людей, транспорт, вездеходную технику, снегоходы, квадроциклы, а также северных оленей
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/4.jpg" alt="">
                        </div>
                    </div>
                </a>
                <a href="#" class="main_news__item js_news_item">
                    <div class="main_news__item_top">
                        <div class="main_news__item_date">8 декабря 2021</div>
                        <div class="main_news__item_line"></div>
                        <div class="main_news__item_title">В 2021 году мы разработали свою собственную спутниковую
                            платформу формата CubeSAT
                        </div>
                    </div>
                    <div class="main_news__item_bottom">
                        <div class="main_news__item_img">
                            <img src="./img/main/main_news/3.jpg" alt="">
                        </div>
                    </div>
                </a>
            </div>
            <ul class="news__pagination">
                <li class="news__pagination_item"><a href="#" class="news__pagination_prev_arrow disabled"></a></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_link active ">1</a></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_link">2</a></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_link">3</a></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_link">4</a></li>
                <li class="news__pagination_item"><span class="news__pagination_ellipsis">...</span></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_link">15</a></li>
                <li class="news__pagination_item"><a href="#" class="news__pagination_next_arrow"></a></li>
            </ul>
        </div>
    </div>
</div>