@import "null";
@import "variables";

@mixin font($font_name, $file_name, $weight, $style) {
	@font-face {
		font-family: $font_name;
		font-display: swap;
		src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
		font-weight: #{$weight};
		font-style: #{$style};
	}
}

@import "fonts";

html {
	font-size: 10px;
}
body {
	font-size: 1.6rem;
	line-height: 1.62;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	color: #0F1011;

	&.this--overflow {
		overflow: hidden;
	}
}
.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 1320px;
	padding: 0 20px;
	margin: 0 auto;
}
.section {
	padding: 100px 0;
	&.this--top {
		padding: 100px 0 0 0;
		@media ($tablet3) {
			padding: 50px 0 0 0;
		}
	}
	&.this--bottom {
		padding: 0 0 100px 0;
		@media ($tablet3) {
			padding: 0 0 50px 0;
		}
	}

	@media ($tablet3) {
		padding: 50px 0;
	}
}
main {
	flex: 1 0 auto;
	padding-top: 179px;

	@media ($tablet2) {
		padding-top: 70px;
	}
	&.this--pt_0 {
		padding-top: 0;
	}
}
.orange_ul {
	li::marker {
		color: #FFA113;
	}
}

@import "./blocks/title";
@import "./blocks/btn";
@import "./blocks/card";
@import "./blocks/img_text";

@import "../components/header/header";
@import "../components/footer/footer";

@import "../components/all/counts/counts";

@import "../components/main/main_slider/main_slider";
@import "../components/main/main_news/main_news";
@import "../components/main/main_about/main_about";
@import "../components/main/main_benefits/main_benefits";
@import "../components/main/main_activities/main_activities";
@import "../components/main/main_team/main_team";
@import "../components/main/main_study/main_study";
@import "../components/main/main_vacancies/main_vacancies";

@import "../components/about/about_info/about_info";
@import "../components/about/about_qr/about_qr";

@import "../components/patents/patents_top/patents_top";
@import "../components/patents/patents_system/patents_system";
@import "../components/patents/patents_bottom/patents_bottom";

@import "../components/team/team_top/team_top";
@import "../components/team/team_list/team_list";
@import "../components/team/team_slider/team_slider";
@import "../components/team/team_social/team_social";

@import "../components/opportunities/opportunities_top/opportunities_top";

@import "../components/news/news";

@import "../components/new/new";

@import "../components/study/study";

@import "../components/activity/activity";

@import "../components/products/products";

@import "../components/contacts/contacts_top/contacts_top";
@import "../components/contacts/contacts_map/contacts_map";

@import "../components/find/find";
@import "../components/find/find_send/find_send";

@import "../components/page_404/page_404";

@import "../components/type/type";

