<div class="main_study section">
    <div class="container">
        <div class="main_study__content">
            <h2 class="g_title_h1 main_study__title">Обучение</h2>
            <div class="main_study__row">
                <div class="main_study__left">
                    <div class="main_study__animation">
                        <div class="main_study__animation_center main_study__animation_bg_icon">
                            <img src="./img/main/main_study/1.svg" alt="">
                        </div>
                        <div class="main_study__animation_first_round">
                            <span class="orange_dot this--small"></span>
                        </div>
                        <div class="main_study__animation_second_round">
                            <div class="main_study__animation_second_round_hide">
                                <span class="orange_dot this--middle"></span>
                                <div class="main_study__animation_bg_icon">
                                    <img src="./img/main/main_study/2.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="main_study__animation_third_round">
                            <span class="orange_dot this--middle"></span>
                            <div class="main_study__animation_bg_icon">
                                <img src="./img/main/main_study/3.svg" alt="">
                            </div>
                            <div class="main_study__animation_bg_icon">
                                <img src="./img/main/main_study/4.svg" alt="">
                            </div>
                            <div class="main_study__animation_bg_icon">
                                <img src="./img/main/main_study/5.svg" alt="">
                            </div>
                            <div class="main_study__animation_bg_icon">
                                <img src="./img/main/main_study/6.svg" alt="">
                            </div>
                        </div>
                        <div class="main_study__animation_fourth_round">
                            <div class="main_study__animation_fourth_round_hide">
                                <span class="orange_dot this--big"></span>
                                <span class="orange_dot this--big"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="main_study__right">
                    <div class="main_study__text">Обучение слушателей осуществляется на основании лицензии на
                        осуществление образовательной деятельности от «31» марта 2021 г. № 4397, выданной КО СПб, по
                        программам профессиональной переподготовки и повышения квалификации, нормативных документов
                        Министерства просвещения Российской Федерации, Министерства образования и науки Российской
                        Федерации, а в части подготовки авиационного персонала, кроме того: Министерства транспорта
                        Российской Федерации, Министерства промышленности и торговли Российской Федерации, Федерального
                        агентства воздушного транспорта (Росавиация).
                    </div>
                    <a href="#" class="btn main_study__btn">подробнее</a>
                </div>
            </div>
        </div>
    </div>
</div>