<div class="new section">
    <div class="container">
        <div class="new__content">
            <h1 class="new__title">Эксперты «СТЦ» разработали систему, которая умеет распознавать людей, транспорт,
                вездеходную технику, снегоходы, квадроциклы, а также северных оленей</h1>
            <div class="new__item_date">8 декабря 2021</div>
            <div class="new__img">
                <img src="./img/new/1.jpg" alt="">
            </div>
            <div class="new__description">Краткое описание фотографии в нескольких словах</div>
            <div class="new__line"></div>
            <div class="new__bottom">
                <div class="new__text">18.11.2021 состоялась конференция на базе СТЦ «Перспективы применения группировок
                    космических аппаратов формата CubeSat в решении актуальных задач». На конференцию были приглащены
                    представители университетов- партнёров СТЦ: Декан факультета информационно- измерительных и
                    биотехнических систем (ФИБС) «ЛЭТИ», д.т.н, доцент А.М. Боронахин; д. т. н, доцент, профессор
                    Академии военных наук С.И. Макаренко; д. т. н., профессор, заведующий кафедрой «Лазерных
                    измерительных и навигационных систем» «ЛЭТИ» Ю.В. Филатов; д.т.н., доцент, полковник запаса,
                    заведующий кафедрой «Информационной безопасности» «ЛЭТИ» Е.Г. Воробьев.
                </div>
                <div class="new__author">
                    <div class="new__author_label">Автор публикации</div>
                    <div class="new__author_img">
                        <img src="./img/new/author.jpg" alt="">
                    </div>
                    <div class="new__author_name">Семенов Алексей Владимирович</div>
                    <div class="new__author_job">главный редактор</div>
                </div>
            </div>
            <a href="#" class="new__btn btn this--transparent_blue">назад к публикациям</a>
        </div>
    </div>
</div>