.new__item_date {
  margin-top: 60px;
  font-family: Montserrat-Italic;
  color: #8A8E93;

  @media ($tablet2) {
    margin-top: 30px;
  }
  @media ($tablet3) {
    font-size: 1.4rem;
    line-height: 1.71;
  }
}
.new__img {
  position: relative;
  padding-top: 66%;
  margin-top: 25px;
  @media ($tablet2) {
    margin-top: 20px;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}
.new__description {
  font-size: 1.4rem;
  line-height: 1.71;
  color: #8A8E93;
  margin-top: 15px;
}
.new__line {
  margin: 30px 0;
  height: 2px;
  background: #FFA113;
  border-radius: 5px;
  width: 50px;

  @media ($tablet2) {
    margin: 20px 0;
  }
}
.new__bottom {
  display: flex;
  justify-content: space-between;

  @media ($tablet2) {
    display: block;
  }
}
.new__text {
  max-width: 833px;
  margin-right: 20px;
  @media ($tablet2) {
    margin-right: 0;
    margin-bottom: 40px;
    max-width: none;
  }
}
.new__author {
  padding-left: 35px;
  border-left: 1px solid #EAEDF2;
  width: 275px;
  flex: 0 0 auto;
  @media ($tablet2) {
    width: auto;
    padding-left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: none;
    border-top: 1px solid #EAEDF2;
    border-bottom: 1px solid #EAEDF2;
  }
}
.new__author_row {
  @media ($tablet2) {
    display: flex;
    align-items: center;
  }
}
.new__author_label {
  font-size: 1.4rem;
  line-height: 1.71;
  color: #8A8E93;
}
.new__author_img {
  margin-top: 20px;
  width: 110px;
  height: 110px;
  overflow: hidden;
  border-radius: 50%;
  @media ($tablet2) {
    margin-right: 30px;
    flex: 0 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
.new__author_name {
  margin-top: 20px;
  font-size: 1.5rem;
  line-height: 1.67;
}
.new__author_job {
  margin-top: 5px;
  font-size: 1.5rem;
  line-height: 1.67;
  color: #8A8E93;
}
.new__btn {
  margin-top: 15px;
  width: 341px;
  @media ($tablet2) {
    margin-top: 40px;
  }
  @media ($mobileMiddle) {
    width: 100%;
  }
}