<div class="about_qr section">
    <div class="container">
        <div class="about_qr__content">
            <div class="about_qr__row">
                <div class="about_qr__left">
                    <div class="about_qr__qr">
                        <img src="./img/about/about_qr/qr.jpg" alt="">
                    </div>
                </div>
                <div class="about_qr__right">
                    <div class="about_qr__arrows">
                        <svg width="26" height="38" viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M19 1.5L1.5 19L19 36.5" stroke="#055FB3" stroke-width="2" stroke-linecap="round"/>
                            <path d="M25 6L12 19L25 32" stroke="#055FB3" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </div>
                    <div class="about_qr__text">
                        <strong>QR-код предприятия,</strong> подтверждающий готовность выполнения установленным порядком стандарта безопасной деятельности предприятия
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>