<div class="team_list section">
    <div class="team_list__content">
        <div class="team_list__row">
            <div class="team_list__lists">
                <ul class="team_list__list">
                    <li>
                        <strong>Мы увлеченные работой</strong> энтузиасты своего дела
                    </li>
                    <li>
                        <strong>Мы получаем удовольствие</strong> от решения масштабных и сложных задач
                    </li>
                    <li>
                        <strong>Мы получаем удовольствие</strong> от работы, потому что уверены, что делаем то что нужно стране
                    </li>
                    <li>
                        <strong>Мы всегда нацелены</strong> делать свою работу не просто хорошо, а отлично
                    </li>
                </ul>
                <ul class="team_list__list">
                    <li>
                        <strong>Мы не останавливаемся</strong> на достигнутом
                    </li>
                    <li>
                        <strong>Мы стремимся к развитию,</strong> личностному росту в своей команде
                    </li>
                    <li>
                        <strong>Мы стремимся применять</strong> в работе современные технологии и инновационные подходы
                    </li>
                    <li>
                        <strong>Нас окружают профессионалы</strong> своего дела
                    </li>
                </ul>
            </div>
            <div class="team_list__img_wr">
                <div class="team_list__img">
                    <img src="./img/team/team_list/1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>