<div class="team_slider">
    <div class="section this--bottom">
        <div class="container">
            <div class="team_slider__content">
                <div class="team_slider__slider_wr default_slider__wr this--light">
                    <div class="team_slider__slider_btn_prev default_slider__btn_prev"></div>
                    <div class="team_slider__slider_btn_next default_slider__btn_next"></div>
                    <div class="team_slider__slider_pagination default_slider__pagination"></div>
                    <div class="team_slider__slider default_slider swiper-container">
                        <div class="default_slider__wrapper swiper-wrapper">
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img ">
                                    <img src="./img/main/main_team/main_team_slider_img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img">
                                    <img src="./img/main/main_team/main_team_slider_img_2.jpg" alt="">
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img">
                                    <img src="./img/main/main_team/main_team_slider_img_3.jpg" alt="">
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img">
                                    <img src="./img/main/main_team/main_team_slider_img_4.jpg" alt="">
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img">
                                    <img src="./img/main/main_team/main_team_slider_img_1.jpg" alt="">
                                </div>
                            </div>
                            <div class="default_slider__slide swiper-slide">
                                <div class="default_slider__slide_img">
                                    <img src="./img/main/main_team/main_team_slider_img_2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>