<div class="find section">
    <div class="container">
        <div class="find__content">
            <h1 class="find__title">Кого мы ищем</h1>
            <div class="find__img_text img_text">
                <div class="img_text__img_wr">
                    <div class="img_text__img">
                        <img src="./img/find/1.jpg" alt="">
                    </div>
                </div>
                <div class="img_text__text">Современные технологии достигли такого уровня, что семантический разбор
                    внешних противодействий представляет собой интересный эксперимент проверки первоочередных
                    требований. В частности, выбранный нами инновационный путь влечет за собой процесс внедрения и
                    модернизации форм воздействия. Современные технологии достигли такого уровня, что семантический
                    разбор внешних противодействий представляет собой интересный эксперимент проверки первоочередных
                    требований.
                    <br><br>
                    В частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия. Современные технологии достигли такого уровня, что семантический разбор внешних
                    противодействий представляет собой интересный эксперимент проверки первоочередных требований. В
                    частности, выбранный нами инновационный путь влечет за собой процесс внедрения и модернизации форм
                    воздействия.
                </div>
            </div>
            <div class="find__img_text img_text this--reverse">
                <div class="img_text__img_wr">
                    <div class="img_text__img">
                        <img src="./img/find/2.jpg" alt="">
                    </div>
                </div>
                <div class="img_text__text">Современные технологии достигли такого уровня, что семантический разбор
                    внешних противодействий представляет собой интересный эксперимент проверки первоочередных
                    требований. В частности, выбранный нами инновационный путь влечет за собой процесс внедрения и
                    модернизации форм воздействия.
                    <br><br>
                    Современные технологии достигли такого уровня, что семантический разбор внешних противодействий
                    представляет собой интересный эксперимент проверки первоочередных требований. В частности, выбранный
                    нами инновационный путь влечет за собой процесс внедрения и модернизации форм воздействия.
                </div>
            </div>
        </div>
    </div>
</div>