.page_404 {
  background: url('../img/page_404/page_404_bg.jpg') center / cover no-repeat;
  padding-top: 179px;

  @media ($tablet2) {
    padding-top: 70px;
  }
}
.page_404__content {
  padding-top: 140px;
  padding-bottom: 140px;

  @media ($tablet2) {
    padding-top: 40px;
    padding-bottom: 50px;
  }
}
.page_404__big_title {
  font-weight: 600;
  font-size: 10.3rem;
  line-height: 1.2;
  text-align: center;
  color: #FFFFFF;

  @media ($tablet2) {
    font-size: 4rem;
  }
}
.page_404__title {
  text-align: center;
  color: #ffffff;
  margin-top: 10px;
}
.page_404__text {
  color: #ffffff;
  margin-top: 50px;
  text-align: center;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.56;

  @media ($tablet2) {
    margin-top: 20px;
  }
  @media ($tablet3) {
    font-size: 1.6rem;
    line-height: 1.62;
  }
}
.page_404__links {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  @media ($desktop) {
    max-width: 700px;
    margin: 80px auto 0;
    flex-wrap: wrap;
  }
  @media ($tablet2) {
    margin-top: 30px;
  }
  @media ($tablet3) {
    max-width: 500px;
  }
}
.page_404__link {
  margin: 0 10px;
  padding: 0 60px;

  @media ($desktopBig) {
    padding: 0 50px;
  }
  @media ($desktop) {
    width: calc(50% - 20px);
    padding: 0;
    margin: 0 10px 20px;
  }
  @media ($mobile) {
    margin: 0 0 10px;
    width: 100%;
  }
}