<div class="page_404">
    <div class="container">
        <div class="page_404__content">
            <div class="page_404__big_title">ОШИБКА 404</div>
            <h1 class="page_404__title">Эта страница не найдена</h1>
            <div class="page_404__text">Вы можете вернуться на главную страницу или перейти к интересующему вас разделу</div>
            <div class="page_404__links">
                <a href="#" class="btn this--transparent_wh page_404__link">на главную</a>
                <a href="#" class="btn page_404__link">УЧЕБНЫЙ ЦЕНТР</a>
                <a href="#" class="btn page_404__link">наша продукция</a>
                <a href="#" class="btn page_404__link">Кого мы ищем</a>
            </div>
        </div>
    </div>
</div>